* {
	box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#app {
  width:100%;
  margin: 0 auto
}

.clearfix::before,
.clearfix::after,
.row::before, .row::after {
	content: " ";
	display: table;
	clear: both;
}

.contactForm {
  height:50px;
  width: 100%;
}

.contactForm .imie {
  margin-left: 10px;
}

.contactForm input {
  margin-right: 10px;
  padding-left: 10px;
  height: 30px;
  width: 20%;
}


.contactForm button {
  margin-left: 10px;
  margin-top: 10px;
  height: 30px;
  width:20%;
}

.contactsList {
  height: 80%;
}

.contactItem {
  position: relative;
  margin-left: 20px;
  margin-top: 10px;
  height:200px;
}

.contactItem p {
  width: 180px;
  height: 40px;
  background-color: #d1e0e0;
  position: relative;
  top: -100px;
  left: 50px;
  padding-top: 10px;
  padding-left: 10px;
}

.contactItem p, img {
  display: inline-block;
}

.contactItem a {
  position: absolute;
  top: 80px;
  left: 200px;
  width: 360px;
  height: 40px;
  padding-left:10px;
  padding-top: 10px;
  background-color: #d1e0e0;
}

.contactItem a:hover {
  background-color: yellow;
}

.contactItem .contactImage {
  width: 150px;
  height: 150px;
  border-radius: 50px;
}
